body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #293c6a; /* Achtergrondkleur grijs */
    color: #fff; /* Tekstkleur wit */
    text-align: center;
    background: url(back.png) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;

}

h2 {
    text-align: center;
    font-size: 40px;
    margin: auto;
    padding: auto;
}

p {
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: auto;
}

main {
    flex-grow: 1;
    display: flex;
    background: url(back.png) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.articleshome article {
    border: 1px solid #000; /* Randkleur zwart */
    padding: 100px;
    text-align: center;
    background-color: #000; /* Achtergrondkleur zwart */
    justify-content: center;
}



header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    font-size: 20px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;

}
  

  .flex-container {
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat de artikelen naar de volgende regel gaan als er niet genoeg ruimte is */
    justify-content: space-evenly; /* Verdeelt de ruimte tussen de artikelen gelijkmatig */
    background-color: #293c6a; /* Achtergrondkleur grijs */
    padding: 20px; /* Voegt wat ruimte toe rondom de artikelen */
}

.flex-container > article {
    border: 1px solid #000; /* Randkleur zwart */
    padding: 20px;
    text-align: center;
    background-color: #000; /* Achtergrondkleur zwart */
    flex: 1 0 30%; /* Zorgt ervoor dat de artikelen flexibel zijn en maximaal 30% van de container in beslag nemen */
    margin: 10px; /* Ruimte tussen de artikelen */
    color: #fff; /* Tekstkleur wit */
    font-size: 20px; /* Tekstgrootte */

}


